.active,
.unactive {
  text-decoration: none;
  text-transform: capitalize;
  padding: 8px 16px;
  width: 100%;
  display: inline-block;
}

.active {
  font-weight: 500;
  background-color: #1c7ed6;
  color: #fff;
  border-radius: 5px;
}
.active:hover {
  background-color: #1864ab;
}

.unactive {
  color: grey;
}
.unactive:hover {
  color: #fff;
}
